
.home{
    height: 100%;
    width: 100%;
    padding: 2.5rem 2rem;
    background: linear-gradient(rgba(0,0,1,0.42), rgba(0,0,1,0.549)), url('../assets/images/abc.jpg');
    background-position: center;
    object-fit:cover;
    background-size: cover;
    background-repeat: no-repeat;
    display:block;
    /* align-items: center; */
    row-gap: 3rem ;
  
    .spanText {
        color: white;
        font-weight: 500;
    }
  
    .homeTitle{
        color: white;
        padding: 2rem 0;
        font-size: 45px;
        
        strong{
          font-weight: 800;
  
        }
    }
    .btn{
      border: 2px solid white;
      color: white;
      font-size: 13px;
      transition: .3s;
      width: max-content;
      &:hover{
        background-color: white;
        color: var(--primaryColor);
      }
      .search{
        text-align:center;
      }
    }
  }

  

.services_subtitle{
    font-size: 2.2rem;
    font-weight: 500;
    columns: #ee6e6e;
}

.services_title{
    font-size: 2.5rem;
    font-weight: 500;
}

.featuredTourTile{
    font-size: 2.3rem;
    font-weight: 500;
}
.experience_content h2{
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
}
.experience_content p{
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1rem;
}
.counter_wrpper{
    margin-top: 2.5rem;
}
.counterBox span{
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    color: #fff;
    font-size:1.6rem;
    font-weight: 600;
    border-radius: 10px 5px 10px 5px;
}
.counterBox h6{
    font-size: 1.1rem;
    margin-top: .7rem;
    color:var(--text-color);
}
.expimg video{
    width: 100%;
    border-radius: 25px;
}
.test_title{
    font-size: 2.3rem;
    margin-top: 1rem;
}